[
  { "name": "Astronaut" },
  { "name": "Submarine" },
  { "name": "Hospital" },
  { "name": "Eiffel Tower" },
  { "name": "Scuba Diving" },
  { "name": "Supermarket" },
  { "name": "Library" },
  { "name": "Police Station" },
  { "name": "Mount Everest" },
  { "name": "Ice Cream" },
  { "name": "Video Game" },
  { "name": "Pyramids" },
  { "name": "Rainforest" },
  { "name": "Helicopter" },
  { "name": "Amusement Park" },
  { "name": "Skateboard" },
  { "name": "Firefighter" },
  { "name": "Basketball" },
  { "name": "Moon" },
  { "name": "Sushi" }
]